{% for item in site.data.resume %}
{% for section in item.section %}
{% if section.show != false %}
<section class="resume-{{ section.heading | downcase }}{% if section.heading == 'Notables' or section.heading == 'Speaking' or section.heading == 'Volunteer' or section.heading == 'Projects' or section.heading == 'Writing' %} print-hide{% endif %}">
<h2>{{ section.heading }}</h2>

<!-- Experience -->
{% if section.heading == 'Experience' %}
{% for job in section.contents %}
<h3>{{ job.title }}</h3>
<p>{% if job.company-link %}<a href="{{ job.company-link }}">{% endif %}{{ job.company }}{% if job.company-link %}</a>{% endif %}, {{ job.from }} &mdash; {{ job.to }}</p>
<ul>
{% for role in job.roles %}
<li>{{ role.text }}</li>
{% endfor %}
</ul>
{% endfor %}
{% endif %}

<!-- Education -->
{% if section.heading == 'Education' %}
{% for school in section.contents %}
<h3>{{ school.school }}</h3>
<p>{{ school.degree }}, {{ school.date }}</p>
{% endfor %}
{% endif %}

<!-- Facilitation -->
{% if section.heading == 'Facilitation' %}
{% for facilitation in section.contents %}
<h3>{% if facilitation.link %}<a href="{{facilitation.link}}">{% endif %}{{ facilitation.title }}{% if facilitation.link %}</a>{% endif %}</h3>
<p>{{ facilitation.event }}{% if facilitation.presenters %}, {{ facilitation.presenters }}{% endif %}<br/>
{{ facilitation.location }}, {{ facilitation.date }}</p>
{% endfor %}
{% endif %}

<!-- Talks -->
{% if section.heading == 'Talks' %}
{% for talks in section.contents %}
<h3>{% if talks.link %}<a href="{{talks.link}}">{% endif %}{{ talks.title }}{% if talks.link %}</a>{% endif %}</h3>
<p>{{ talks.event }}{% if talks.presenters %}, {{ talks.presenters }}{% endif %}<br/>
{{ talks.location }}, {{ talks.date }}</p>
{% endfor %}
{% endif %}

<!-- Grants -->
{% if section.heading == 'Grants' %}
{% for grants in section.contents %}
<h3>{{ grants.title }}</h3>
<p><i>{{ grants.amount }}, {{ grants.source }}, {{ grants.date }}.</i><br/>{{ grants.description }}</p>
{% endfor %}
{% endif %}

<!-- Designation Reports -->
{% if section.heading == 'Reports' %}
{% for reports in section.contents %}
<h3>{{ reports.title }}</h3>
<p>{{ reports.type }}, {{ reports.location }}, {{ reports.date }}</p>
{% endfor %}
{% endif %}

</section>
{% endif %}
{% endfor %}
{% endfor %}
